@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monserrat";
  src: url("../../public/Montserrat-Italic-VariableFont_wght.ttf");
}

body {
  font-family: "Monserrat";
}
